<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<form action="/admin/student">
		<button type="submit">Student</button>
	</form>
	<form action="/admin/faculty">
		<button type="submit">Faculty</button>
	</form>
	<form action="/admin/logout">
		<button type="submit">LOGOUT</button>
	</form>
</body>
</html>