<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h2>Login Page</h2>
	<form action="/admin/login" method="post">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input type="submit" name="submit">
	</form>
	<a href="/admin/register">Register</a>
</body>
</html>