<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<form action="/employee/register" method="post">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input type="text" name="name" placeholder="name">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="empid" placeholder="empid">
		<input type="text" name="mobileno" placeholder="mobileno">
		<input type="submit" name="submit">
	</form>
</body>
</html>