<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<form action="/student">
		<button type="submit">Student</button>
	</form>
	<form action="/faculty">
		<button type="submit">Faculty</button>
	</form>
	<form action="/employee">
		<button type="submit">Employee</button>
	</form>
	<form action="/admin">
		<button type="submit">Admin</button>
	</form>
</body>
</html>